.section {
    background-color: #d8cce8;
    width: 40%;
    height: 47rem;
    margin: auto;
    margin-top: 23px;
    margin-bottom: 23px;
    border-radius: 1px;
    position: relative;
    .section-h2 {
        font-size: 1.6rem;
        font-family: 'Montserrat', sans-serif;
        padding-top: 19px;
        padding-left: 14px;
        font-weight: 100;
    }
    .btn-section {
        background-color: #b54790;
        font-family: 'Montserrat', sans-serif;
        color: white;
        padding: 11px 21px;
        text-decoration: none;
        display: inline-block;
        font-size: 14px;
        border: 1px solid #b54790;
        width: 24%;
        height: 43px;
        text-align: center;
        margin-top: 31px;
        position: absolute;
        right: 23px;
        &:hover {
            cursor: pointer;
            border: 1px solid white;
        }
    }
}