.section-1 {
    background-color: white;
    border-top: 1px solid #636360;
    border-bottom: 1px solid #636360;
    height: 37rem;
    margin-top: 12px;
    .form-1 {
        display: flex;
        flex-direction: column;
        margin-top: 10px;
        border-bottom: 1px solid #636360;
        height: 130px;
        .form-row {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            margin-top: 17px;
            .name-text {
                .input-form-1 {
                    width: 182px;
                    height: 31px;
                    font-family: 'Oswald', sans-serif;
                    font-size: 0.8rem;
                    color: #c2c2c2;
                    padding-left: 40px;
                    border: 1px solid #c2c2c2;
                    position: relative;
                    z-index: 1;
                    &:hover {
                        cursor: pointer;
                        color: black;
                    }
                }
            }
        }
    }
}